/* Footer Area Styles */
.footer-area {
  padding: 30px 0;
  background: #f5f5f5;
}

.copyright-text p {
  font-size: 16px;
  color: #111;
  line-height: 1.5;
}

.footer-social {
  text-align: end;
}

.footer-social ul li {
  display: inline-block;
  margin-left: 20px;
}

.footer-social ul li:first-child {
  margin-left: 0;
}

.footer-social ul li a {
  font-size: 20px;
  color: #111;
  transition: all 0.4s ease;
}

.footer-social ul li a:hover {
  color: #4144f3;
}
